*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}

/* Navbar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000027;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 18px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1rem;
    font-weight: medium;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(232, 232, 232);
    padding: 1px 25px;
    transition: all .3s ease;
}
.navbar ul li a:hover{
    background-color: transparent;
    color: #a70c92;
    font-weight: bold;
}

.icon{
    align-items: left;
    flex: auto;
    margin-left: 10px;
}

.icon img{
    display: inline-block;
    justify-items: left;
    height: 50px;
}

@media (max-width: 767px){
    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
    }
}


.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 1px;
    padding: 0px 35px;
    transition: all .3s ease;
    height: 10px;
    width: 10px;
    color: #fff;
}

.social:hover 
    {
        background-color: transparent;
        color: #a70c92;
        animation: mymoves 2s infinite;
        
      }

@keyframes mymoves {
    
    50% {transform: rotate(3deg);}
    100% {transform: scale(1.5);}

}

.sociallink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0px;
    padding: 0px 25px;
    transition: all .1s ease;
}
.sociallink:hover 
    {
        animation: mymoves 1s infinite;
      }

@keyframes mymoves {
    
    50% {transform: rotate(3deg);}
    100% {transform: scale(1);}

}

a { color: inherit; 
text-decoration: none;} 


/* Home Section*/
#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(-45deg,#000027,#2E5A88,#000080,#301934);
    background-size: 1000% 1000%;
    animation: change 10s ease-in-out infinite;
}


.image{
    margin-left: 50px;
    width: 90%;
    }
 
#home h1{
    font-size: 75px;
    font-family:  'Segoe UI',Ubuntu, Cantarell, sans-serif;
    margin-left: 75px;
}


.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 60%;
    right:40%;
    margin: 0px 79px;
    font-family: century;
    font-size: 1.2rem;
    text-align: justify;
}



.btn1{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: .3s ease;
    border-radius: 8px ;
    color: white;
    font-weight: medium;
    font-size: 15px;
    font-weight: 440;
    align-items: left;
    text-align: center;
    margin-top: 30px;
    margin-right: 420px;
}

@media screen and (max-width: 1200px){
    .btn1{
        margin-right: 0px;
        height: auto;
    }
}
.btn1:hover{
    cursor: pointer;
    background-color: white;
    font-weight: medium;
    font-size: 15px;
    font-weight: 440;
    box-shadow: 0 0 10px rgb(169, 205, 235);
    color: #a70c92;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


@media (max-width: 767px){
    
}
@media (max-width: 480px){

}


/* about Section*/
#about{
    display: flex;
    flex-direction: column;
}

.container1{
    width: 100%;
    height: 100vh;
    background-position: center;
    background: linear-gradient(180deg, #010010 19.58%, #040067 180.32%);
    background-size: cover;
    padding: 30px;
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.headings{
    align-self: flex-start;
    font-family: century;
    font-size: 3rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    align-items: center;
}

.main2{
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    margin: 0px 60px;
    font-family: century;
    font-size: 1.3rem;
    text-align: justify;   
    flex-direction: row;

}


.video{
    border: solid white;
    margin: inherit;
}

/* benefits Section*/
#benefits{
    display: flex;
    flex-direction: column;
}

.container2{
    width: 100%;
    height: 100vh;
    background-position: center;
    background: linear-gradient(178.66deg, #02003A 1.03%, #010011 98.78%);
    background-size: cover;
    padding: 30px;
    display: -ms-inline-grid;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.rows{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card{
    width: 30%;
    height: 60%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    margin-top: 40px;
}

.card img{
    width: 70px;
    height: 70px;
    border-radius: 30%;
    margin-top: 20px;
}

.card p{
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;
}


/* contact Section*/

#contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: white;
}

.container3{
    width: 100%;
    height: 100vh;
    background-image: url("https://user-images.githubusercontent.com/87236107/193678143-15009449-95d0-42d4-b8fc-8d23188605fa.png");
    background-position: center;
    background-size: cover;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.contact-box{
    width: 100%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(27, 27, 27, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
}

.text-center{
    text-align: center;
    padding: 20px;
    font-family: 'ubuntu', sans-serif;
    font-size: 30px;
}

.form{
    max-width: 400px;
    margin: 20px;
}

.form input{
    margin: 12px 0px;
    padding: 5px 8px;
    width: 100%;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 6px;
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
    background-color: transparent;
    color: #fff;
}

.btn{
    font-size: 15px;
    font-weight: 440;
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    margin: 2px 0 1px;
}



.btn:hover{
    cursor: pointer;
    background-color: white;
    font-weight: medium;
    box-shadow: 0 0 10px rgb(169, 205, 235);
    color: #a70c92;
}

.form-input{
    margin: 12px 0px;
    padding: 5px 8px;
    width: 100%;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 6px;
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
    background-color: transparent;
    color: #fff;
}

.text-footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-family: 'ubuntu', sans-serif;
    font-size: 15px;
}
